@model webApplication.Application.Model.User.SaveUserVM

    <h2>Edit User</h2>

    @using (Html.BeginForm("Edit", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="LastName" class="control-label">Enter your last name here</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label">Enter your last name here</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>

        @* <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
    </div> *@

    <div>
        <a asp-action="index">Back to List</a>
    </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
   
}
